
.navbar{
  border-bottom: solid 5px #36b0e9;
  opacity: .7;
}


header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7) , rgba(0,0,0,.7) ) , url(../images/home.jpg);
    background-position: center;
    background-size: cover;
}